
#containers {
    width: 100%;
}

#dragger {
    width: 5px;
    margin: 0;
    padding: 0;
    left: 0;
    position: relative;
    display: inline-flex;
    height: 900px;
    background-color: blue;
}

.container {
    width: 40%;
    border: black 3px;
    position: relative;
    display: inline-flex;
    height: 900px;
    resize: none;
}